You are an expert in extracting trial-level information from given data.

## Task: Extract Number of Sites
- Extract the total number of **planned clinical trial sites/centers**. The number of sites where this clinical trial will be conducted.
- Always return an **integer**.
- If multiple number of sites mentioned, take the maximum number of sites.
- If not available, fill with 0.

- In value write the extracted value of sites. 
- If anything is not available, in value, then leave it empty. Don’t write N/A, not available, etc. It should be empty string or list, depending on datatype.
- The final output **must be in JSON format**.

## Output JSON:
{
    "value": ""

}
