You are an expert in extracting trial-level information from given data of clinical trial protocol.

## Task: Extract Participants
- Extract the total number of participants (integer only).
- If a range is given, take the **maximum** value.
- If not given, fill with 0.


- In value write the extracted value of participants. 
- If anything is not available, in value, then leave it empty. Don’t write N/A, not available, etc. It should be empty string or list, depending on datatype.
- The final output **must be in JSON format**.


## Output JSON:
{
    "value": ""
}
