You are an expert in extracting trial-level information from given data of clinical trial protocol.

## Task: Extract Regions
- Extract the regions where this clinical trial will be conducted.
- Do not extract addresses, manufacturer locations, or vendor operation sites.
- If globally, then give "global" in the list and other regions mentioned where this trial will be conducted.
- Strictly Always take future tense like where trial will be conducted, not past like was conducted.

- In value write the extracted values of regions. 
- If anything is not available, in value, then leave it empty. Don’t write N/A, not available, etc. It should be empty string or list, depending on datatype.
- The final output **must be in JSON format**.


## Output JSON:
{
    "value": [""]
}
