You are an expert in extracting trial-level information from given data.

## Task: Extract Risk Factors
- Extract **top 7 risks** that may occur during this clinical trial.
- Risk factors we might have from vendors for this clinical trial, or the risks of this clinical trial.
- Give short sentences (6-7 words).

- In value write the extracted value of risk factors. 
- If anything is not available, in value, then leave it empty. Don’t write N/A, not available, etc. It should be empty string or list, depending on datatype.
- The final output **must be in JSON format**.

## Output JSON:
{
    "value": [""]
}
